<h1>All our posts</h1>

<% @post.each do |post| %>
	<div class='alert alert-light'>
		<h3><%= post.title %></h3>
		<p><%= post.body %></p>
		<%= link_to 'Read all', post_path(post), :class => 'btn btn-outline-primary btn-sm' %>
	</div>
<% end %>
